const {Client} = require('pg');

const client = new Client({
    host: 'localhost',
    user: 'postgres',
    password: '(GANTI PASSWORD KALIAN)',
    port: 5432,
    database: '(NAMA DATABASE)'
})

const authClient = new Client({
  host: 'localhost',
  user: 'postgres',
  password: '(GANTI PASSWORD KALIAN)',
  port: 5432,
  database: '(NAMA DATABASE_KHUSUS WEBMON)',
});

module.exports = { client, authClient };